
html, body {
  margin: 0;
  padding: 0;
  height: 100%;

    font-family: 'Raleway', sans-serif;

}
.bg .img{
	
    max-width: 100%;
    height: auto;

}
.b8 {
	  padding: 10%;
	  padding-bottom: 4%;
	  padding-top: 4%;
	  text-align: center;

}
.b9 {
	  padding: 10%;
	  text-align: center;

}

.bgW {
padding: 15%;
margin-top: 15%
margin-bottom:15%;
text-align: center;

}

