
html, body {
  margin: 0;
  padding: 0;
  height: 100%;

    font-family: 'Raleway', sans-serif;

}
header, footer{
	color:#d67e7e;
	text-align: center;
	padding: 0;
	margin:0;
font-size: 200%;
}
.box{
	display: inline-block;
	    vertical-align: middle;
	    margin-left: 1%;
	    margin-right: 1%;
	    margin-bottom: 0;
	    padding-bottom: 0;
}


.bgW {
padding: 15%;
margin-top: 15%
margin-bottom:15%;
text-align: center;
clear:both;

}
.b1{
	background-color:#f8c2c2;color:white; font-size:1.6em;
}
.word h1{
	display:none;
}

.image, .line{
	width:48%;
	height: auto;
} 
 img{
	max-width:100%;
	height:auto;
}
.image{
float:left;}

.line{

float:right;
margin-top: 7%;
margin-right: 2%;
text-align: center;
}
.banner{
	text-align: center;
}